* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  height: 100vh;
  width: 100vw;
  min-width: 296px;
  background-color: #FBF9C9;
  background-image: url(https://www.elsetge.cat/myimg/f/34-345663_question-marks-wallpaper-cute-question-mark-background.png);

  /* background-image: url(../img/desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}


#gioca,
#ok,
#scopri {
  font-size: 5vw;
  cursor: pointer;
  width: 30vw;
  background-color: rgba(91, 200, 207, 0.8);
  border-radius: 10px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: 5vh;
}

.difficolta {
  margin-top: 5vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.livello-diff {
  width: 9vw;
  padding: 0.5vw 0;
  font-size: 2vw;
  cursor: pointer;
  background-color: rgba(77, 101, 141, 0.8);
  border-radius: 5px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  opacity: 0.5;
}

.active {
  background-color: rgba(251, 249, 201, 0.8);
  font-size: 2.2vw;
  border: 1px solid black;
  opacity: 1;
}

.carta {
  width: 128px;
  height: 174px;
  margin: 10px;
  cursor: pointer;
  background-image: url(../img/backface.JPG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 2s;
  /* border-radius: 7px; */
}
.rotate {
  transform: rotateY(180deg);
}

#carta1 {
  top: 0;
  left: 0;
}
#carta2 {
  top: 0%;
  left: 25%;
}
#carta3 {
  top: 0;
  left: 50%;
}
#carta4 {
  top: 0%;
  left: 75%;
}
#carta5 {
  top: 25%;
  left: 0;
}
#carta6 {
  top: 25%;
  left: 25%;
}
#carta7 {
  top: 25%;
  left: 50%;
}
#carta8 {
  top: 25%;
  left: 75%;
}
#carta9 {
  top: 50%;
  left: 0;
}
#carta10 {
  top: 50%;
  left: 25%;
}
#carta11 {
  top: 50%;
  left: 50%;
}
#carta12 {
  top: 50%;
  left: 75%;
}
#carta13 {
  top: 75%;
  left: 0;
}
#carta14 {
  top: 75%;
  left: 25%;
}
#carta15 {
  top: 75%;
  left: 50%;
}
#carta16 {
  top: 75%;
  left: 75%;
}


.carta.python {
  background-image: url(../img/Python.png);
  background-color: white;
  border: 2px solid #1E7CCE;
  border-radius: 5px;

}
.carta.java {
  background-image: url(../img/java.png);
  background-color: white;
  background-size: 65%;
  border: 2px solid #1E7CCE;
  border-radius: 5px;

}
.carta.php {
  background-image: url(../img/php.png);
  background-color: white;
  background-size: 90%;
  border: 2px solid #1E7CCE;
  border-radius: 5px;

}
.carta.laravel {
  background-image: url(../img/laravel.png);
  background-color: white;
  border: 2px solid #1E7CCE;
  border-radius: 5px;

}
.carta.html5 {
  background-image: url(../img/html5.png);
  background-color: white;
  border: 2px solid #1E7CCE;
  border-radius: 5px;

}
.carta.css3 {
  background-image: url(../img/css3.png);
  background-color: white;
  border: 2px solid #1E7CCE;
  border-radius: 5px;
  background-size: 74%;

}
.carta.csharp {
  background-image: url(../img/csharp.jpg);
  background-color: white;
  border: 2px solid #1E7CCE;
  border-radius: 5px;

}
.carta.bootstrap {
  background-image: url(../img/bootstrap.png);
  background-color: white;
  border: 2px solid #1E7CCE;
  border-radius: 5px;

}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 592px;
  height: 776px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  z-index: 100;
  width: 70%;
  height: calc(91% + 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  border-radius: 15px;
}
.transparent-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.overlay #messaggio {
  color: #DF6EA6;
  text-shadow: 8px 5px 6px #4d658d, 8px 3px 6px #4d658d;
  font-size: 6vw;
  text-align: center;
}
.container-animation {
  animation-name: shuffle;
  animation-duration: 8s;
  animation-timing-function: linear;
  /* animation-fill-mode: forwards; */
}

@keyframes shuffle {
  0% {
    position: absolute;
  }
  17% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.container-animation-back {
  animation-name: shuffle-back;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes shuffle-back{
  0% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  30% {
    position: absolute;
    left: 45%;
    top: 45%;
    transform: none;
  }
  80% {
    position: absolute;
  }
  100% {
    position: absolute;
  }
}


.position-inerhit {
  position: static;
}

.unclickable {
  z-index: -2;
}

.transparent {
  opacity: 0;
  transition: 1s;
}
.display-none {
  display: none;
}

.direction1 {
  flex-direction: row-reverse;
}
.direction2 {
  flex-direction: column;
}
.direction3 {
  flex-direction: column-reverse;
}

.order1 {
  order: 1;
}
.order2 {
  order: 2;
}
.order3 {
  order: 3;
}
.order4 {
  order: 4;
}
.order5 {
  order: 5;
}
.order6 {
  order: 6;
}
.order7 {
  order: 7;
}
.order8 {
  order: 8;
}
.order9 {
  order: 9;
}
.order10 {
  order: 10;
}
.order11 {
  order: 11;
}
.order12 {
  order: 12;
}
.order13 {
  order: 13;
}
.order14 {
  order: 14;
}
.order15 {
  order: 15;
}
.order16 {
  order: 16;
}


@media screen and (max-width:592px) {
  #container {
    width: 100vw;
    min-width: 296px;
    height: calc(100vw * 174 / 128);
    min-height: calc(296px * 174 / 128);
  }
  .carta {
    width: 22%;
    height: 22%;
    margin: 1.5%;
  }
}

.zindex99 {
  z-index: 99;
}
